.chart-symbol { /* solid square */
    -fx-background-radius: 0;
}
.default-color1.chart-symbol { /* solid circle */
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color2.chart-symbol { /* solid square  */
    -fx-background-radius: 0;
    -fx-shape: "M 10 10 h 80 v 80 h -80 Z";
}
.default-color3.chart-symbol { /* solid circle */
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
