.chart-symbol { /* solid square */
    -fx-background-radius: 0;
}
.default-color1.chart-symbol { /* solid circle */
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color2.chart-symbol { /* solid square  */
    -fx-background-radius: 0;
    -fx-shape: "M 10 10 h 80 v 80 h -80 Z";
}
.default-color3.chart-symbol { /* solid circle */
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
/*
.default-color4.chart-symbol { // solid triangle
    -fx-background-color: #2f357f;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-shape: "M5,0 L10,8 L0,8 Z";
}
.default-color5.chart-symbol { // hollow circle
    -fx-background-color: #860061, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}
.default-color6.chart-symbol { // hollow square
    -fx-background-color: #c62b00, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 0;
}
.default-color7.chart-symbol { // hollow diamond
    -fx-background-color: #ff5700, white;
    -fx-background-radius: 0;
    -fx-background-insets: 0, 2.5;
    -fx-padding: 7px 5px 7px 5px;
    -fx-shape: "M5,0 L10,9 L5,18 L0,9 Z";
}
*/